
/* body */
body {
    color: #f5f5f5;
    background-color: #1b1b1b;
}

.wyli-icon {
    max-width: 50px;
    max-height: 50px;
}

#main-wrapper {
    margin: 0;
    padding: 0;
    border: 0;
  }

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; 
}
