
/* nav bar */
A:link { COLOR: gold; TEXT-DECORATION: none; font-weight: normal }
A:visited { COLOR: gold; TEXT-DECORATION: none; font-weight: normal }
A:active { COLOR: #f3f3f3; TEXT-DECORATION: none }
A:hover { COLOR: #f3f3f3; TEXT-DECORATION: none; font-weight: bolder }

/* body */
body {
    color: #f5f5f5;
    background-color: #1b1b1b;
}

.top-left-icon {
    max-width: 100px;
    max-height: 100px;
}

#main-wrapper {
    margin: 0;
    padding: 0;
    border: 0;
  }

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; 
}

.title-font {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.proj-thumb {
    max-width: 300px;
    max-height: 300px;
}

.nasa-img {
    background-image: url('../images/Nasa.jpg');
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {
    background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px); // This be the blur
    height: 100vh;
    width: 50%;
}


.data-img {
    background-image: url('../images/chart_laptop.jpg');
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-copy {
    position: relative;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
    filter: drop-shadow(0 0 0.75rem darkgrey);
}


.mission {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spacer {
    height: 200px;
    width: 100%;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}