
/* nav bar */
A:link { COLOR: gold; TEXT-DECORATION: none; font-weight: normal }
A:visited { COLOR: gold; TEXT-DECORATION: none; font-weight: normal }
A:active { COLOR: #f3f3f3; TEXT-DECORATION: none }
A:hover { COLOR: #f3f3f3; TEXT-DECORATION: none; font-weight: bolder }

/* body */
body {
    color: #f5f5f5;
    background-color: #1b1b1b;
}

.top-left-icon {
    max-width: 100px;
    max-height: 100px;
}

#main-wrapper {
    margin: 0;
    padding: 0;
    border: 0;
  }

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; 
}

.title-font {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.proj-thumb {
    max-width: 300px;
    max-height: 300px;
}

.nasa-img {
    background-image: url('../images/Nasa.jpg');
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blur {
    background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px); // This be the blur
    height: 100vh;
    width: 50%;
}


.data-img {
    background-image: url('../images/chart_laptop.jpg');
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-copy {
    position: relative;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
    filter: drop-shadow(0 0 0.75rem darkgrey);
}


.mission {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spacer {
    height: 200px;
    width: 100%;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.contact-cover {
    background-image: url('../images/contact_cover.jpg');
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.parent_contact {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1_contact { grid-area: 1 / 1 / 3 / 6; }
    .div2_contact { grid-area: 3 / 1 / 5 / 3; }
    .div3_contact { grid-area: 3 / 3 / 5 / 6; }
    .div4_contact { grid-area: 5 / 1 / 6 / 6; }


.contact_address {
    float: left;
    clear: left;
}

@import "compass/css3";

* {
  @include box-sizing(border-box);
}

$pad: 20px;

.grid {
  background: white;
  margin: 0 0 $pad 0;
  
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
	float: left;
  padding-right: $pad;
  .grid &:last-of-type {
  	padding-right: 0;
  }
}
.col-2-3 {
	width: 66.66%;
}
.col-1-3 {
	width: 33.33%;
}
.col-1-2 {
	width: 50%;
}
.col-1-4 {
	width: 25%;
}
.col-1-8 {
	width: 12.5%;
}

.module {
  padding: $pad;
  background: #eee;
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

body {
	padding: 10px 50px 200px;
  background: url(https://s.cdpn.io/3/dark_wall_@2X.png);
  background-size: 300px 300px;
}
h1 {
  color: white;
  em {
  	color: #666;
    font-size: 16px;
  }
}

.subtext {
  color: red;
  
}

#button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#arrow-hover {
  width: 15px;
  height: 10px;
  position: absolute;
  transform: translateX(60px);
  opacity: 0;
  -webkit-transition: all .25s cubic-bezier(.14, .59, 1, 1.01);
  transition: all .15s cubic-bezier(.14, .59, 1, 1.01);
  margin: 0;
  padding: 0 5px;
}

a#button-1:hover img {
  width: 15px;
  opacity: 1;
  transform: translateX(50px);
}